$OFFSET: 1.5rem;

.fade_and_slide_rightwards {
  transform: translateX(-$OFFSET);
}
html[dir="rtl"] {
  .fade_and_slide_rightwards {
    transform: translateX($OFFSET);
  }
}

// ==========================================
.fade_and_slide_leftwards {
  transform: translateX($OFFSET);
}
html[dir="rtl"] {
  .fade_and_slide_leftwards {
    transform: translateX(-$OFFSET);
  }
}

// ==========================================
.fade_and_slide_upwards {
  transform: translateY($OFFSET);
}

// ==========================================
.fade_and_slide_downwards {
  transform: translateY(-$OFFSET);
}
// ==========================================

.fade_and_slide_rightwards,
.fade_and_slide_leftwards,
.fade_and_slide_upwards,
.fade_and_slide_downwards {
  opacity: 0;
  animation: fadeIn forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

// =====================================
