$primary: #10131c;
$text_secondary: #bcbec5;
$navbar_bg: #10131c;
$bg: #0d1019;
$blue: #007aff;

$secondary: #a3d0aa;
$text_primary: #f1f2f3;
$danger: #df4759;

:export {
  primary: $primary;
  navbar_bg: $navbar_bg;
  bg: $bg;
  blue: $blue;

  secondary: $secondary;
  text_primary: $text_primary;
  text_secondary: $text_secondary;
  danger: $danger;
}
