@import "./breakpoints.module.scss";

$navbar_height_lg: 64px;
$navbar_height_md: 64px;
$navbar_height_sm: 54px;

$max_width: 1200px;
$content_width: min(100%, 1200px);

.page {
  @include breakpoint(lg) {
    margin-top: $navbar_height_lg;
  }
  @include breakpoint(md) {
    margin-top: $navbar_height_md;
  }
  @include breakpoint(sm) {
    margin-top: $navbar_height_sm;
  }
}

.full_height {
  @include breakpoint(lg) {
    min-height: calc(100vh - $navbar_height_lg);
  }
  @include breakpoint(md) {
    min-height: calc(100vh - $navbar_height_md);
  }
  @include breakpoint(sm) {
    min-height: calc(100vh - $navbar_height_sm);
  }
}
