.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    text-transform: uppercase;
    text-align: center;
  }
}

.btn_container {
  margin-top: 4rem;
}
