@import "https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: clamp(2rem, 1.1111rem + 4.4444vw, 5rem);
}
h2 {
  font-size: clamp(1.75rem, 1.0833rem + 3.3333vw, 4rem);
}
h3 {
  font-size: clamp(1.17rem, 0.9911rem + 0.8673vw, 1.75rem);
}
h4 {
  font-size: clamp(1.05rem, 0.9575rem + 0.4486vw, 1.35rem);
}
h5 {
  font-size: clamp(0.9rem, 0.8075rem + 0.4486vw, 1.2rem);
}
h6 {
  font-size: clamp(0.75rem, 0.6729rem + 0.3738vw, 1rem);
}
p {
  font-size: clamp(0.9rem, 0.8229rem + 0.3738vw, 1.15rem);
}

.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.center_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
